@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: hsl(210, 46%, 95%);
  font-family: "Barlow", sans-serif;
  font-size: 0.9375rem;
  line-height: 1.7;
}

.testimonials {
  max-width: 90rem;
  margin: 6.25reem auto;
  padding: 1.25rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.card {
  background: hsl(0, 0%, 100%);
  border-radius: 0.625rem;
  padding: 1.875rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0rem 3rem 6.25rem 0rem;
}

.card__header {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.card__header h3 {
  font-size: 0.95rem;
}

.card__header p {
  opacity: 0.5;
}

.card__img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.125rem solid hsl(264, 58%, 64%);
}

.card__lead {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 1.25rem;
}

.card__quote {
  font-size: 0.9325rem;
  line-height: 1.4;
  opacity: 70%;
}

.card--bg-purple {
  background-color: hsl(263, 55%, 52%);
  color: hsl(0, 0%, 100%);
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top 0.625rem right 6.25rem;
}

.card--bg-gray {
  background-color: hsl(217, 19%, 35%);
  color: hsl(0, 0%, 100%);
}

.card--bg-black-gray {
  background-color: hsl(219, 29%, 14%);
  color: hsl(0, 0%, 100%);
}

.card:nth-of-type(1) {
  grid-column: 1;
}

.card:nth-of-type(4) {
  grid-column: 1;
  grid-row: 4/ 5;
}

.card:nth-of-type(5) {
  grid-column: 1;
  grid-row: 5 / 6;
}

@media (min-width: 45rem) {
  .testimonials {
    grid-template-columns: repeat(4, 1fr);
  }

  .card:nth-of-type(1) {
    grid-column: 1 / 3;
  }

  .card:nth-of-type(4) {
    grid-column: 2/4;
    grid-row: 2;
  }

  .card:nth-of-type(5) {
    grid-column: 4;
    grid-row: 1 / 3;
  }
}
